name: Daily endpoint validity test

on:
  schedule:
    - cron: '0 0 * * *'  # Runs at midnight UTC every day
  pull_request:
    branches:
      - main

jobs:
  build_and_run:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        apt-get update
        apt-get install -y jq curl sudo
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
        source $HOME/.cargo/env

    - name: Build blockfetch tool
      run: |
        cd scripts/blockfetch
        cargo build --release --locked  #  reproducible builds

    - name: Generate endpoint raw data
      run: bash ./scripts/test_endpoints.sh

    - name: Generate missing endpoints from raw data
      run: bash ./scripts/missing_endpoints.sh

    - name: Archive and upload raw data
      uses: actions/upload-artifact@v2
      with:
        name: endpoint-test-results
        path: /tmp/endpoint_tests/results.json

    - name: Archive and upload missing endpoints
      uses: actions/upload-artifact@v2
      with:
        name: missing-endpoints-report
        path: /tmp/endpoint_tests/missing.json
